<div class="flex border-b border-gray-100 py-5">
    <div>
        <img src="<%= locals.item.image %>" alt="aloo parantha" class="h-24">
    </div>
    <div class="flex-1 flex items-center justify-start px-5">
        <p class="capitalize text-3xl font-bold text-gray-800 dark:text-gray-400"><%= locals.item.name %></p>
    </div>
    <div class="flex items-center">
        <div class="flex items-center">
            <a href="/cart/decrement?id=<%= locals.item._id %>">
                <div class="bg-red-600 hover:bg-red-700 font-bold text-xl rounded-full h-8 w-8 flex items-center justify-center text-white">
                    -
                </div>
            </a>
            <div class="flex-1 mx-3 text-2xl font-bold text-gray-800 dark:text-gray-400"><%= locals.quantity %></div>
            <a href="/cart/increment?id=<%= locals.item._id %>">
                <div class="bg-red-600 hover:bg-red-700 font-bold text-xl rounded-full h-8 w-8 flex items-center justify-center text-white">
                    +
                </div>
            </a>
        </div>
    </div>
</div>