<section class="p-5">
    <section class="py-14 mb-10">
        <p class="text-8xl font-black capitalize text-center text-gray-800 mb-3">food menu</p>
        <p class="font-normal capitalize text-center text-gray-400">freshly made food from our kitchens with wide
            variety of food items</p>
    </section>
    <section class="pb-10">
        <p class="capitalize text-6xl font-black text-gray-800"><span class="text-red-600 px-5">indian</span> food</p>
        <div class="flex items-center">
            <div class="w-12 relative">
                <button class="h-10 w-10 bg-red-600 rounded-full text-white shadow-lg absolute left-0 top-1/2"><
                </button>
            </div>
            <div class="flex-1 flex items-center justify-start overflow-auto">
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
            </div>
            <div class="w-12 relative">
                <button class="h-10 w-10 bg-red-600 rounded-full text-white shadow-lg absolute right-0 top-1/2">>
                </button>
            </div>
        </div>
    </section>
    <section class="pb-10">
        <p class="capitalize text-6xl font-black text-gray-800"><span class="text-red-600 px-5">soothing</span>
            beverages</p>
        <div class="flex items-center">
            <div class="w-12 relative">
                <button class="h-10 w-10 bg-red-600 rounded-full text-white shadow-lg absolute left-0 top-1/2"><
                </button>
            </div>
            <div class="flex-1 flex items-center justify-start overflow-auto">
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
                <%- include("_card") %>
            </div>
            <div class="w-12 relative">
                <button class="h-10 w-10 bg-red-600 rounded-full text-white shadow-lg absolute right-0 top-1/2">>
                </button>
            </div>
        </div>
    </section>
</section>